/* .App {
  text-align: center; 
} */

/* .rotCircles {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .rotCircles {
    animation: rotCircles-spin infinite 5s linear;
  }
}

#hide {
  /* position: fixed; */
  top:50vh;
  padding-top: 5%;
  left:40vh;
  color: white;
  transition: opacity 2s ease, transform 1s ease;
  animation: fadeIn 0.5s ease-in-out;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
    } 

  100% {
    opacity: 1;
    transform: translateY(0);

  }
}
/* 
#height {
  display: flex;
  top:5vh;
  /* display: flex; */
  /* left:5vh; */
/* } */


#container2 {
  min-height:200vh;
  background-color: rgb(66, 66, 66);
  width: 100%;
}

.animated-element {
  opacity: 0;
  color: green;
  transition: opacity 0.75s ease-in-out; /* Adjust the duration and easing as needed */
}

.fade-in {
  opacity: 1;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.rotCircles {
  /* margin-left: -10%;
  margin-top: 1%; */
  float: left;
  width: 400px;
  z-index: -200;
  position: absolute;
}

.gapBox {
  width: 500px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 200%;
}
.coverBox1 {
  display: flex;
  width: 300px;
  height: 200px;
  /* margin-left: 10%;
  margin-top: -15%; */
  z-index: 50;
  background-color: #161616;
  /* background-color: red; */
  z-index: 2;
}

.App-header {
  background-color: #161616;
  min-height: 40vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-top: 15%;
  font-size: 200%;
  /* background-color: blue; */
  /* align-items: center; */
}

.leafP {
  width: 50%;
  flex: 1;
  float: right;
  margin-top: -30%;
  margin-bottom: -50%;
}

.containerCir {
  margin-top: -2%;
  margin-left: -9%;
}

.textBox1 {
  margin-bottom: 0%;
  display: flex;
  /* background-color: white; */
}

.textBox2 {
  margin-top: 20%;
}
.container2 {
  margin-top: -5%;
}

.textBottom1 {
  max-width: 40%;
  z-index: 3;
  /* background-color: white; */
}

.App-link {
  color: #61dafb;
}

.greenLine {
  height: 5px;
  width: 45%;
  background-color: green;
  /* margin-top: -4%; */
}


/* ####################### All Animation */

@keyframes rotCircles-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
