/* .App {
  text-align: center; 
} */

/* .rotCircles {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .rotCircles {
    animation: rotCircles-spin infinite 5s linear;
  }
}

#hide {
  /* position: fixed; */
  top:50vh;
  padding-top: 5%;
  left:40vh;
  color: black;
  transition: opacity 2s ease, transform 1s ease;
  animation: fadeIn 0.5s ease-in-out;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
    } 

  100% {
    opacity: 1;
    transform: translateY(0);

  }
}

/* 
#height {
  display: flex;
  top:5vh;
  /* display: flex; */
  /* left:5vh; */
/* } */


.buffer {
  background-color: white;
  padding-top: 0.5%;
}

.titleFadeDiv {
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
}

.titleFade {
  color: white;
  animation: fadeIn 1s;
}

.belowTitle {
  color: white;
  display: flex;
  justify-content: center;
}

.textFade {
  animation: fadeIn2 3s;
}

.whiteToGreen {
  color: rgb(4, 187, 4);
  animation: colorChange 10s;
}

.greenLineSlot {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  min-height: 50vh;
}

.greenLineTitle {
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: rgb(4, 187, 4);
  animation: outwards 6s forwards;
  animation-delay: 5s;
}

@keyframes outwards {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes colorChange {
  0% {
    color: white;
  }
  25% {
    color: white;

  }
  50% {
    color: rgb(6, 172, 6)
  }
  100% {
    color: rgb(4, 187, 4)
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

#container2 {
  min-height:200vh;
  /* background-color: red; */
  background-color: rgb(240, 240, 240);
  width: 100%;
  z-index: 5;
}

.animated-element {
  opacity: 0;
  color: green;
  transition: opacity 0.75s ease-in-out; /* Adjust the duration and easing as needed */
}

.fade-in {
  opacity: 1;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 10%;
}

.rotCircles {
  /* margin-left: -10%;
  margin-top: 1%; */
  float: left;
  width: 400px;
  z-index: -200;
  position: absolute;
}

.gapBox {
  width: 500px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 100%;
}
.coverBox1 {
  display: flex;
  width: 300px;
  height: 200px;
  /* margin-left: 10%;
  margin-top: -15%; */
  z-index: 50;
  background-color: #161616;
  /* background-color: red; */
}

.App-header {
  background-color: #161616;
  min-height: 40vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-top: 15%;
  font-size: 150%;
  /* background-color: blue; */
  /* align-items: center; */
}

.leafP {
  /* width: 50%; */
  width: calc(50% - 2vmin);
  flex: 1;
  float: right;
  margin-top: -50%;
  margin-bottom: -50%;
  z-index: -1;
}

.containerCir {
  margin-top: -2%;
  margin-left: -9%;
}

.textBox1 {
  margin-bottom: 0%;
  display: flex;
  /* background-color: white; */
}

.textBox2 {
  margin-top: 20%;
}
.container2 {
  margin-top: -5%;
}

.textBottom1 {
  max-width: 40%;
  z-index: 3;
  /* background-color: white; */
}

.App-link {
  color: #61dafb;
}

.greenLine {
  height: 5px;
  width: 45%;
  background-color: green;
  margin-bottom: 10%;
  /* margin-top: -4%; */
}


/* ####################### All Animation */

@keyframes rotCircles-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
